body{
    background-color: #ebf2e3;
}

container{
    display: flex;
    align-items: center;
}
.container-col{
    display: flex;
    flex-direction: row;
    height: 100vh;
    transition: all 0.3s ease; /* Transición suave */
}
nav {
    padding-right: 30px;
    padding: 0px;
    border-radius: 0px;
    margin: auto;
    color: rgb(246, 248, 248);
    margin-top: 30px;
    background-color:#5EA617;
}

nav a {
    color: rgb(246, 248, 249);
    padding: 5px;
    border-radius: 8px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff; /* Color de los enlaces blanco */
}

a {
    color: #f7f9fa;
    text-decoration:none;
}

.logo{
    float: left;
    padding-top: 0;
    border-radius: 10px;
    margin: 3px;
    margin-left: 10px;
}

form{
    padding: 20px 10px 10px 10px;   
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 20px;
    text-align: center;
    background-color: #f2f2f2;
    margin: 20px;
}

.form1{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    font-size: 20px;
    color: #5c9b1e;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 30px;
}

input{
    padding: 17px 25px;
    max-width: 85%;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color:rgb(179, 222, 227) ;
    border: 2px solid rgb(157, 186, 197) ;
    color: rgb(1, 20, 16);
    outline: none;
    margin-left:2%
}

input::placeholder{
    color: rgb(97, 114, 120);
}

.formtxt{
    margin-bottom: 30px;
    justify-content: space-between;
    text-align: center;
    margin-left:2% ;
}

.formtxt a{
    color: #5EA617;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.formbtn{
    font-size:16px;
    padding: 10px;
    color:#5EA617;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 20px rgb(97, 130, 123);
    background-color: rgb(157, 204, 209) ;
}

.formbtn :hover{
    background-color: rgb(9, 51, 38);
}
.custom-button{
    padding: 10px 70px;
    margin-left: 10px;
    text-align: center;
}
footer p{
    color: #EF6C00;
}
footer h2{
    color: #E65100;
}
footer img{
    width: 150px;
}

select{
    padding: 17px 25px;
    max-width: 94%;
    border-radius: 25px;
    margin-bottom: 20px;
    color: rgb(1, 20, 16);
    outline: none;
    margin-left:2%
}

@media(max-width:991px){
    body{
        padding: 30px;
    }
    form{
        padding: 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
} 
.titulo{
    font-size: 40px;
    color:  #4b8413;
    margin: 20px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eeebe5;
    width: 97,6%;
    border-color: solid #E65100;
}
.footer, .piepagina, .piepagi {
    display: flex;
    flex-direction: column;
}
.piepagina {
    align-items: center;
}
.piepagi img {
    width: 300px;
    height: auto;
    margin-right: 50px;
}
.iconos {
    display: flex;
    align-items: center;
    margin: 5px;
}
.iconos strong{
    color: #E65100;
}
.vercontra {
    cursor: pointer;
}
.titulo-e{
    color:  #4b8413;
    text-align: center;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    position: relative;
    height: 500px; /* Ajusta la altura del contenedor */
    margin-top: 20px; /* Añade un margen superior para separar del nav */
}

.background-image {
    background-image: url('/img/sena-aprendizaje-1.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%; /* Ocupa toda la altura del contenedor */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.3s ease; /* Añade una transición suave */
}

.background-image:hover {
    filter: blur(3px); /* Aplica el desenfoque cuando el mouse está sobre el contenedor */

}

.custom-button {
    position: relative;
    color: #5EA617; /* Color del texto del botón */
    background-color: #f7f9fa; /* Color de fondo del botón */
    margin-top: 210px; /* Ajusta el margen superior para colocar el botón dentro de la imagen */
    z-index: 1; /* Asegura que el botón esté por encima de la imagen desenfocada */
    border-color: white; /* Color del borde inicial del botón */
    padding: 10px 70px;
    border-radius: 20PX;
    text-align: center;
}

.custom-button:hover {
    background-color: #5EA617; /* Color de fondo del botón cuando se pone el mouse sobre él */
    border-color: #5EA617; /* Color del borde del botón cuando se pone el mouse sobre él */
    color: white; /* Color del texto del botón cuando se pone el mouse sobre él */
}

.custom-button:active {
    background-color: #5EA617; /* Color de fondo del botón cuando se hace clic */
    border-color: #5EA617; /* Color del borde del botón cuando se hace clic */
    color: white; /* Color del texto del botón cuando se hace clic */
}

.text-center{
    width: 100%;
height: auto;
    text-align: center;
}

h2{
    text-align: center;
    color: #4b8413;
    padding: 10px;
    margin: auto;
}

/*Buscador de contenido*/
.search-container {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}
.hidden {
    display: none !important;
}
.search-results {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background: white;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    max-height: 400px;
    overflow-y: auto;
}


/*Tabla*/
.col-eq {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
  }

  .col-tab {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0px 12px rgba(0,0,0,0.175);
  }

  .col-tab img {
    max-width: 100%;
    height: auto;
  }

  .col-tab h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .col-tab p {
    margin-top: 5px;
    font-size: 16px;
  }

  .col-tab .price {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }

  .col-tab .button {
    display: inline-block;
    background-color:#4b8413;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .col-eq {
      grid-template-columns: repeat(2, 1fr);
    }
  }